*{padding: 0; margin: 0; list-style: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

*, *:before, *:after { box-sizing: inherit; }

html{ box-sizing: border-box }

a{ text-decoration: none; color: inherit } a:hover{ text-decoration: none; }

button:hover{ cursor: pointer; }

*::selection{
	background-color: #673AB7;
	color: white;
}

/* Errors */
#defaultMsg{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #222222;
	padding-left: 40px;
	line-height: 1.33;
}
#defaultMsg a{
	color: #1E88E5;
	text-decoration: underline;
}

/* header */

header{
	font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
	padding-top: 5rem;
	padding-left: 2.5rem;
	padding-right: 24px;
	width: 600px;
	max-width: 50vw;
	color: rgba(0,0,0,0.9);
	margin-bottom: 2rem;
}

header h1, header h2{
	margin-bottom: 1rem;
}
header h1{
	font-family: 'Rancho', 'Roboto', Arial, Verdana, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 4rem;
	line-height: 1;
}
header h2{
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5;
}

header ul{
	display: flex;
	font-size: 1.5rem;
}
header ul li a{
	padding: 0.33rem;
	margin: 0 0.33rem;
	transition: color 100ms ease-out;
	font-size: 0px;
}
header ul li a:before{
	font-size: 32px;
	margin-left: 0 !important;
}
header ul li a:first-of-type{
	padding-left: 0;
	margin-left: 0;
}
header ul li a:hover{
	color: #673AB7;
	transition: color 100ms ease-out;
}

@media (max-width: 1024px){
	header{
		width: 100%;
		max-width: initial;
		padding: 3rem 1.5rem 0;
		color: rgba(0,0,0,0.85);
		margin-bottom: 3rem;
	}

	header h1, header h2{
		margin-bottom: 2rem;
	}
	header h2{
		font-weight: 400;
		font-size: 1.33rem;
	}

	header ul{
		font-size: 2rem;
	}
	header ul li a:before{
		font-size: 2.2rem;
	}
	header ul li a:hover{
		color: inherit;
	}
	header ul li a:active{
		color: #673AB7;
	}
}

/* Projects */

main{
	padding-left: 2.5rem;
}

main ul{
	font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.8;
	color: white;
}
main ul li{
	margin: 1rem 0;
}
main ul li a{
	display: inline-block;
	padding: 0 .66rem;
	background-color: black;
	box-shadow: 4px 4px 0 rgba(0,0,0,0.25);
	transition: box-shadow 100ms linear, transform 100ms linear;
}
main ul li a:hover{
	box-shadow: 6px 5px 0 rgba(0,0,0,0.25);
	opacity: 0.8;
	transition: box-shadow 66ms linear, transform 100ms linear;
	cursor: pointer;
}

@media (max-width: 1024px){
	main{
		padding: 0 1.5rem;
	}

	main ul{
		font-size: 1.33rem;
		line-height: 1.2;
	}
	main ul li{
		margin: 1.33rem 0;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	main ul li a{
		padding: .66rem .66rem;
		box-shadow: none;
	}
	main ul li a:hover{
		box-shadow: none;
		transform: none;
		opacity: initial;
	}
}


/* Project info */
article{
	font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
	position: fixed;
	overflow-y: auto;
	top: 0;
	right: 0;
	width: 50vw;
	height: 100vh;
	background-color: white;
	color: rgba(0,0,0,0.8);
	animation-name: info-in;
	animation-timing-function: ease-out;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
/* article #divider{
	position: absolute;
	background-color: rgba(0,0,0,0.1);
	height: 50%;
	width: 1px;
	top: 25%;
} */
article #content{
	height: 100%;
	width: 600px;
	max-width: 50vw;
	margin: auto;
	padding: 5rem 24px 5rem 24px;
}

article h1{
	font-family: 'Oswald', 'Roboto Condensed', 'Roboto', Arial, Verdana, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 1.1;
	margin-bottom: .66rem;
}

article #tech{
	text-transform: uppercase;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	line-height: 1.33;
	color: rgba(0,0,0,0.5);
	margin-bottom: 2rem;
	font-size: .9rem;
}
article #tech li:not(:last-child){
	margin-right: 12px;
}

article p{
	font-weight: 300;
	font-size: 1.15em;
	line-height: 1.35;
	margin-bottom: 1.33rem;
	white-space: pre-line;
}
article p > br{
	line-height: 1.8rem;
}

#close{
	display: none;
}

@media (max-width: 1024px){
	article{
		position: fixed;
		width: 100vw;
		animation-duration: 200ms;
	}

	/* article #divider{
		display: none;
	} */

	article #content{
		width: 100%;
		max-width: initial;
		overflow-y: scroll;
		height: 100vh;
		padding: 4rem 12vw 6rem;
	}

	article h1{
		line-height: 1;
	}

	article p{
		font-size: 1.33em;
		line-height: 1.5;
		font-weight: 300;
	}
	article p > br{
		line-height: 1.8;
	}

	#close{
		display: initial;
		position: fixed;
		top: 0;
		right: 12px;
		padding: 2px;
		font-size: 3rem;
		opacity: 0.8;
	}
}


/* Gallery */

#fullscreenGallery{
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
}

#galleryThumbs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-template-rows: repeat(auto-fill, 1fr);
	grid-row-gap: 8px;
	line-height: 0;
	margin-bottom: 1.5rem;
}
#galleryThumbs li{
	border: 1px solid rgba(0,0,0,0.1);
	padding: 4px;
}
#galleryThumbs li:hover{
	border: 1px solid rgba(0,0,0,.2);
}
#galleryThumbs li img{
	width: 100%;
	opacity: 0.9;
	filter: saturate(0.8);
	transition: opacity 200ms, filter 200ms;
}
#galleryThumbs li img:hover{
	opacity: 1;
	filter: saturate(1);
	transition: opacity 200ms, filter 200ms;
}

@media (max-width: 1024px){
	#galleryThumbs{
		grid-column-gap: 12px;
		grid-row-gap: 12px;
		margin-bottom: 2rem;
	}

	#galleryThumbs li img{
		opacity: 1;
		filter: saturate(1);
	}

	.lum-lightbox-inner img{
		max-width: 90vw;
	}
}
@media (max-width: 480px){
	#galleryThumbs{
		grid-template-columns: 1fr 1fr;
	}
}

/* Buttons */
#links{
	border-top: .5px solid rgba(0,0,0,0.1);
	padding-top: 1.5rem;
	padding-bottom: 64px;
	display: grid;
	grid-template-columns: 22% 22%;
	grid-column-gap: 8px;
}

#links a{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 2.5;
	border-radius: 2px;
	padding-right: 6px;
	text-align: center;
	color: white;
	background-color: white;
	box-shadow: 2px 2px 0 rgba(0,0,0,.2);
	opacity: 0.65;
}
#links a:before{
	font-weight: 400;
	margin-right: 6px;
}
/* Github button */
#links .codeBtn{
	background-color: #AA00FF;
}
/* View button */
#links .viewBtn{
	background-color: #0091EA;
}
/* Button hover */
#links a:hover{
	opacity: 1;
}

@media (max-width: 1024px){
	#links{
		border-top: none;
		padding-top: 0;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 0;
	}
	#links a{
		font-size: 1.2rem;
		opacity: 1;
		font-weight: 300;
	}
}

@keyframes info-in{
	from{
		transform: translateY(2vh);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}

