@import url("style.css");

*{ font-family: Roboto; color: white;}

:focus { outline: none; }
::-webkit-input-placeholder { color: #DEDFDF; }
::-moz-placeholder { color: #DEDFDF; }
:-moz-placeholder { color: #DEDFDF; }
::-ms-input-placeholder { color: #DEDFDF; }

html{
	background-color: #1e244b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f1ebec' fill-opacity='0.05'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body#login{
	color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#wrapper, #login label, #arrow, #login button span{
	transition: all .5s cubic-bezier(.6,0,.4,1);
}

#ingresar:checked ~ #wrapper { height: 174px; }
#ingresar:checked ~ #wrapper #arrow { left: 32px; }
#ingresar:checked ~ button span { transform: translate3d(0,-72px,0); }

#registrarse:checked ~ #wrapper { height: 256px; }
#registrarse:checked ~ #wrapper #arrow { left: 390px; }
#registrarse:checked ~ button span { transform: translate3d(0,-144px,0); }

form{
  width: 450px;
	height: 450px;
  padding-top: 64px;
}

form input{
  color: #222;
}

input[type=radio] { display: none; }

label{
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  opacity: .5;
  margin-bottom: 16px;
  text-transform: uppercase;
}

svg{ flex-basis: 150px; }

label:hover{
  transition: all .3s cubic-bezier(.6,0,.4,1);
  opacity: 1;
}

label[for="ingresar"] { margin-right: 20px; }
label[for="registrarse"] { float: right; }
input[type=radio]:checked + label { opacity: 1; }

input[type=text], input[type=password], input[type=email]{
  background: #fff;
  border: none;
  border-radius: 8px;
  font-size: 27px;
  height: 72px;
  width: 99.5%;
  margin-bottom: 10px;
  opacity: 1;
  text-indent: 20px;
	transition: all .2s ease-in-out;
}

button{
  background: #D52956;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
}

button span{
  display: block;
  line-height: 72px;
  position: relative;
  top: -2px;
	transform: translate3d(0,0,0);
	padding-top: 72px;
}

button:hover{ background: #b9244a; }

#arrow{
  height: 0;
  width: 0;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  left: 32px;
}

p.error{
  background-color: rgba(244, 67, 54, .8);
  padding: 16px;
  border-radius: 8px;
  width: 450px;
}

p.error:before{
  box-sizing: content-box;
  content: '!';
  font-weight: bold;
  border: 1px solid white;
  font-size: 18px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 2px;
  display: inline-block;
  text-align: center;
  margin-right: 16px;
  line-height: 1;
}
