@import url('https://fonts.googleapis.com/css?family=Oswald|Rancho|Roboto:300,400,500');
@import './_config.scss';

*{padding: 0; margin: 0; font-family: inherit; list-style: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-tap-highlight-color: rgba(0,0,0,0);
	&:before, &:after{
		box-sizing: inherit;
	}
	&::selection{
		background-color: $emitPurple;
		color: white;
	}
}

html{ box-sizing: border-box; 
	body, #vue-bootstrap{ 
		font-family: sans-serif;
		color: $blackText;
		@include roboto(400);
		position: relative;
	}
}

a{
	text-decoration: none;
	color: inherit;
	&:hover{ text-decoration: none; }
}

button:hover{ cursor: pointer; }

.modalOnScreen{
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	position: relative;

	@include mediaDesktop {
		overflow: auto;
	}
}

.btn{
	color: white;
	background-color: $emitPurple;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2.5;
	border-radius: 2px;
	text-align: center;
	box-shadow: 2px 2px 0 rgba(0,0,0,.2);
	user-select: none;

	@include mediaTablet {
		font-size: 1.33rem;
	}

	@include mediaDesktop {
		font-size: 18px;
		&:hover{
			opacity: .8;
		}
	}
}

header, main{
	@include mediaDesktop {
		max-width: 50vw;
		width: 600px;
	}
}